# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea metadata
.idea

# Ignore private environment variables for http client
**/http-client.private.env.json
