<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body onload="init()">
<main>
    <div id="broadcast">
        <video id="broadcast-video" muted autoplay playsinline width="400" height="400"></video>
    </div>
</main>
<script th:inline="javascript">
    const broadcast = document.getElementById("broadcast");
    const myKey = Math.random().toString(36).substring(2, 11);
    let stompClient;

    let roomId = [(${roomId})];
    let myPeerConnection;
    let myDataChannel;

    function connectStomp() {
        stompClient = new StompJs.Client({
            brokerURL: "[(${host.signaling})]/streaming",
            debug: function (str) {
                console.log(str);
            },
            reconnectDelay: 5000,
            heartbeatIncoming: 4000,
            heartbeatOutgoing: 4000,
        });

        stompClient.onConnect = onStompConnect;

        stompClient.onStompError = function (frame) {
            // Will be invoked in case of error encountered at Broker
            // Bad login/passcode typically will cause an error
            // Complaint brokers will set `message` header with a brief message. Body may contain details.
            // Compliant brokers will terminate the connection after any error
            console.log('Broker reported error: ' + frame.headers['message']);
            console.log('Additional details: ' + frame.body);
        };

        stompClient.activate();
    }

    async function onStompConnect(frame) {
        // subscribe to streamer offer
        stompClient.subscribe(`/topic/${roomId}/${myKey}/offer`, async (message) => {
            // set RTC offer as remote description
            const { key, offer } = JSON.parse(message.body);
            await myPeerConnection.setRemoteDescription(offer);

            // send RTC answer
            const answer = await myPeerConnection.createAnswer();
            await myPeerConnection.setLocalDescription(answer);
            stompClient.publish({
                destination: `/app/${roomId}/${myKey}/answer`,
                body: JSON.stringify({ key: myKey, answer })
            });
        })

        // subscribe to streamer ice candidate
        stompClient.subscribe(`/topic/${roomId}/${myKey}/ice/streamer`, async (message) => {
            const { key, ice } = JSON.parse(message.body);
            await myPeerConnection.addIceCandidate(ice);
        })

        // publish viewer id
        stompClient.publish({
            destination: `/app/${roomId}`,
            body: JSON.stringify({ key: myKey })
        })
    }

    // RTC code
    function createRTCPeerConnection() {
        const configuration = {
            iceServers: [
                { urls: 'stun:stun.l.google.com:19302' },
                { urls: 'stun:stun1.l.google.com:19302' },
                { urls: 'stun:stun2.l.google.com:19302' },
                { urls: 'stun:stun3.l.google.com:19302' },
                { urls: 'stun:stun4.l.google.com:19302' }
            ]
        }
        myPeerConnection = new RTCPeerConnection(configuration);
        myPeerConnection.addEventListener("icecandidate", handleIce);
        myPeerConnection.addEventListener("track", handleAddTrack);
    }

    // Local ice candidate has changed
    function handleIce(data) {
        console.log('handleIce', data);
        if(data.candidate) {
            const iceMessage = JSON.stringify({key: myKey, ice: data.candidate})
            stompClient.publish({
                destination: `/app/${roomId}/${myKey}/ice/client`,
                body: iceMessage
            })
        }
    }

    // Streamer has sent a track
    function handleAddTrack(event) {
        const broadcastVideo = document.getElementById("broadcast-video");
        broadcastVideo.srcObject = event.streams[0];
        broadcastVideo.play();
    }

    function init() {
        createRTCPeerConnection();
        connectStomp();
    }

</script>

</body>
</html>
