<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<script>

</script>
<body>

<main>
    <div id="welcome">
        <form>
            <input/>
            <button>Enter room</button>
        </form>
    </div>
    <div id="broadcast">
        <video id="broadcast-video" autoplay playsinline width="400" height="400"></video>
    </div>
    <ul id="streamers">
    </ul>
</main>
<script>
    const broadcast = document.getElementById("broadcast");
    const myKey = Math.random().toString(36).substring(2, 11);
    let stompClient;

    let roomId;
    let myPeerConnection;
    let myDataChannel;

    // Welcome Form (join a broadcast)
    const welcome = document.getElementById("welcome");
    const welcomeForm = welcome.querySelector("form");

    broadcast.hidden = true;

    const streamers = document.getElementById('streamers')
    getStreamers().then(data => {
        data.forEach((streamer) => {
            var item = document.createElement('li')
            item.appendChild(document.createTextNode(`${streamer.name || '{streamer name is empty}'} is ${streamer.status.toLowerCase()}. Room number: ${streamer.id}`))
            streamers.appendChild(item)
        })
    })

    async function getStreamers() {
        const response = await fetch('https://localhost:8080/broadcasts')
        console.log('response:', response)
        return response.json()
    }

    async function initBroadcast() {
        welcome.hidden = true;
        broadcast.hidden = false;
        createRTCPeerConnection();
    }

    async function handleWelcomeSubmit(event) {
        event.preventDefault();
        const input = welcomeForm.querySelector("input");
        await initBroadcast();
        connectStomp(event);

        roomId = input.value;
        input.value = "";
    }

    welcomeForm.addEventListener("submit", handleWelcomeSubmit);

    function connectStomp(event) {
        stompClient = new StompJs.Client({
            brokerURL: 'wss://localhost:8081/streaming',
            debug: function (str) {
                console.log(str);
            },
            reconnectDelay: 5000,
            heartbeatIncoming: 4000,
            heartbeatOutgoing: 4000,
        });

        stompClient.onConnect = onStompConnect;

        stompClient.onStompError = function (frame) {
            // Will be invoked in case of error encountered at Broker
            // Bad login/passcode typically will cause an error
            // Complaint brokers will set `message` header with a brief message. Body may contain details.
            // Compliant brokers will terminate the connection after any error
            console.log('Broker reported error: ' + frame.headers['message']);
            console.log('Additional details: ' + frame.body);
        };

        stompClient.activate();
    }

    async function onStompConnect(frame) {
        // subscribe to streamer offer
        stompClient.subscribe(`/topic/${roomId}/${myKey}/offer`, async (message) => {
            // set RTC offer as remote description
            const { key, offer } = JSON.parse(message.body);
            await myPeerConnection.setRemoteDescription(offer);

            // send RTC answer
            const answer = await myPeerConnection.createAnswer();
            await myPeerConnection.setLocalDescription(answer);
            stompClient.publish({
                destination: `/app/${roomId}/${myKey}/answer`,
                body: JSON.stringify({ key: myKey, answer })
            });
        })

        // subscribe to streamer ice candidate
        stompClient.subscribe(`/topic/${roomId}/${myKey}/ice/streamer`, async (message) => {
            const { key, ice } = JSON.parse(message.body);
            await myPeerConnection.addIceCandidate(ice);
        })

        // publish viewer id
        stompClient.publish({
            destination: `/app/${roomId}`,
            body: JSON.stringify({ key: myKey })
        })
    }

    // RTC code
    function createRTCPeerConnection() {
        myPeerConnection = new RTCPeerConnection();
        myPeerConnection.addEventListener("icecandidate", handleIce);
        myPeerConnection.addEventListener("track", handleAddTrack);
    }

    // Local ice candidate has changed
    function handleIce(data) {
        console.log('handleIce', data);
        if(data.candidate) {
            const iceMessage = JSON.stringify({key: myKey, ice: data.candidate})
            stompClient.publish({
                destination: `/app/${roomId}/${myKey}/ice/client`,
                body: iceMessage
            })
        }
    }

    // Streamer has sent a track
    function handleAddTrack(event) {
        const broadcastVideo = document.getElementById("broadcast-video");
        broadcastVideo.srcObject = event.streams[0];
        broadcastVideo.play();
    }
</script>
</body>
</html>
