<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<script>

</script>
<body>
<main>
    <div id="startBroadcast">
        <form id="broadcast-form">
            <label for="broadcast-name">Name</label>
            <input type="text" id="broadcast-name" name="name">
            <label for="broadcast-description">Description</label>
            <input type="text" id="broadcast-description" name="description">
            <button type="submit" id="start">Start Broadcast</button>
        </form>
    </div>
    <div id="myStream" hidden>
        <video id="myFace" autoplay playsinline width="400" height="400"></video>
        <button id="mute">Mute</button>
        <button id="camera">Turn Camera Off</button>
        <select id="cameras"></select>
    </div>
</main>
<script>
    const startBroadcastBtn = document.getElementById("broadcast-form");
    startBroadcastBtn.addEventListener("submit", async (event) => {
        event.preventDefault();
        const data = new FormData(event.target);

        const response = await fetch("https://localhost:8080/broadcasts", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: data.get("name"),
                description: data.get("description"),
            }),
        }).then((res) => res.json());

        roomId = response.id;
        await init();
    });

    const myFace = document.getElementById("myFace");
    const muteBtn = document.getElementById("mute");
    const cameraBtn = document.getElementById("camera");
    const cameraSelect = document.getElementById("cameras");
    let stompClient;

    let myStream;
    let muted = false;
    let cameraOff = false;
    let roomId;

    const peerConnectionMap = new Map();

    async function getCameras() {
        try {
            const devices = await navigator.mediaDevices.enumerateDevices();
            const cameras = devices.filter((device) => device.kind === "videoinput");
            const currentCamera = myStream.getVideoTracks()[0];
            cameras.forEach((camera) => {
                const option = document.createElement("option");
                option.value = camera.deviceId;
                option.innerText = camera.label;
                if (currentCamera.label == camera.label) {
                    option.selected = true;
                }
                cameraSelect.appendChild(option);
            });

        } catch (e) {
            console.log(e);
        }
    }

    async function getMedia(deviceId) {
        const initialConstraints = {
            audio: true,
            video: {facingMode: "user"}
        };
        const cameraConstraints = {
            audio: true,
            video: {deviceId: {exact: deviceId}}
        }
        try {
            myStream = await navigator.mediaDevices.getUserMedia(
              deviceId ? cameraConstraints : initialConstraints
            );
            myFace.srcObject = myStream;
            if (!deviceId) {
                await getCameras();
            }
        } catch (e) {
            console.log(e);
        }
    }

    function handleMuteClick() {
        myStream.getAudioTracks().forEach((track) => (track.enabled = muted));
        if (!muted) {
            muteBtn.innerText = "Unmute";
            muted = true;

        } else {
            muteBtn.innerText = "Mute";
            muted = false;
        }
    }

    function handleCameraClick() {
        myStream.getVideoTracks().forEach((track) => (track.enabled = cameraOff));
        if (!cameraOff) {
            cameraBtn.innerText = "turn Camera On";
            cameraOff = true;
        } else {
            cameraBtn.innerText = "Turn Camera Off";
            cameraOff = false;
        }
    }

    muteBtn.addEventListener("click", handleMuteClick);
    cameraBtn.addEventListener("click", handleCameraClick);

    async function init() {
        await getMedia();// sample room id
        initStompClient();
        document.getElementById("startBroadcast").hidden = true;
        document.getElementById("myStream").hidden = false;
    }

    async function onConnected() {
        stompClient.subscribe(`/topic/${roomId}`, async (res) => {
            const {key} = JSON.parse(res.body);

            let peerConnection = makeConnection(key);

            const offer = await peerConnection.createOffer({
                offerToReceiveAudio: true,
                offerToReceiveVideo: true
            });
            peerConnection.setLocalDescription(offer);
            console.log("sent offer");

            stompClient.subscribe(`/topic/${roomId}/${key}/answer`, async (res) => {
                let {answer} = JSON.parse(res.body);
                console.log("received answer")
                await peerConnection.setRemoteDescription(answer);
            })
            stompClient.subscribe(`/topic/${roomId}/${key}/ice/client`, async (res) => {
                let {ice} = JSON.parse(res.body);
                console.log("received candidate");
                await peerConnection.addIceCandidate(ice);
            });

            stompClient.publish({
                destination: `/app/${roomId}/${key}/offer`,
                body: JSON.stringify({offer: offer}),
            })

        });
    }


    function initStompClient() {
        stompClient = new StompJs.Client({
            brokerURL: 'wss://localhost:8081/streaming',
            debug: function (str) {
                console.log(str);
            },
            reconnectDelay: 5000,
            heartbeatIncoming: 4000,
            heartbeatOutgoing: 4000,
        });

        stompClient.onConnect = onConnected;
        stompClient.activate();
    }

    // RTC code

    function makeConnection(clientKey) {
        let peerConnection = new RTCPeerConnection();

        peerConnectionMap.set(clientKey, peerConnection);
        peerConnection.addEventListener("icecandidate", (data) => handleIce(data, clientKey))

        myStream.getTracks()
                .forEach(track => peerConnection.addTrack(track, myStream));
        return peerConnection;
    }

    function handleIce(data, clientKey) {
        if(data.candidate) {
            console.log("got ice candidate");

            stompClient.publish({
                destination: `/app/${roomId}/${clientKey}/ice/streamer`,
                body: JSON.stringify({ice: data.candidate}),
            })
        }
    }
</script>
</body>
</html>